
@{
    ViewBag.Title = "Nuevo Proveedor";
}

<div class="jumbotron">
    <h3>AGREGAR PROVEEDOR</h3>
</div>

<div class="row">

    <form class="form-horizontal">
        <fieldset>
            <legend>Agregar nuevo proveedor</legend>

            <div class="form-group">
                <label for="inputID" class="col-lg-2 control-label">ID</label>
                <div class="col-lg-10">
                    <input class="form-control" id="inputID" placeholder="Código" type="text" />
                </div>
            </div>

            <div class="form-group">
                <label for="inputNombre" class="col-lg-2 control-label">Nombre</label>
                <div class="col-lg-10">
                    <input class="form-control" id="inputNombre" placeholder="Nombre o razón social" type="text" />
                </div>
            </div>

            <div class="form-group">
                <label for="inputTel" class="col-lg-2 control-label">Teléfono</label>
                <div class="col-lg-10">
                    <input class="form-control" id="inputTel" placeholder="(000) 1234567" type="text" />
                </div>
            </div>

            <div class="form-group">
                <label for="inputDomicilio" class="col-lg-2 control-label">Domicilio</label>
                <div class="col-lg-10">
                    <input class="form-control" id="inputDomicilio" placeholder="Av. Siempre Viva 742" type="text" />
                </div>
            </div>

            <div class="form-group">
                <label for="inputemail" class="col-lg-2 control-label">e-Mail</label>
                <div class="col-lg-10">

                    <input class="form-control" id="inputemail" placeholder="ejemplo@dominio.com.mx" type="text" />
                </div>
            </div>


            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </fieldset>
    </form>

</div>


