
@{
    ViewBag.Title = "AuthorizeFailed";
}

<h2>No dispones de los privilegios necesarios</h2>

<p class="text-danger">Contacta al administrador para más información</p>

<img src="~/media/403forbiddenerror.jpg" />
